.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.each-card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  list-style-type: none;
  margin-right: 15px;
  margin-left: 15px;
}

.image {
  height: 90px;
  width: 90px;
  align-self: flex-end;
}

.card-title {
  color: #171f46;
  font-size: 18px;
  font-weight: 600;
  font-family: Roboto;
}

.card-description {
  color: #171f46;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
}
