* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */

.bg-container {
  background-color: #f4faff;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.heading {
  color: #171f46;
  font-size: 30px;
  font-weight: 600;
  font-family: Roboto;
}

.main-para {
  color: #64748b;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
  max-width: 700px;
}

@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 35px;
    padding-left: 0px;
    max-width: 1200px;
  }
  .heading {
    text-align: center;
    font-size: 30px;
  }
  .main-para {
    font-size: 20px;
  }
  .bg-container {
    padding: 25px;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    text-align: center;
    font-size: 24px;
  }
  .main-para {
    font-size: 12px;
  }
  .bg-container {
    padding: 25px;
  }
}
